* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
 
  body {
    background-color: #164e63;
  }
  .container {
    color: #ecfeff;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 4rem 0;
  }
  
  .heading {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 800;
    text-align: center;
  }
  
  .heading-text {
    font-size: 1.8rem;
    margin-bottom: 10rem;
    font-weight: 600;
    text-align: center;
  }
  
  #bill-heading {
    font-size: 2rem;
    margin-bottom: 4px;
    font-weight: 600;
    text-align: center;
  }
  
  #bill-amount {
    padding: 2px 4px;
    margin-bottom: 2rem;
    height: 6rem;
    width: 50%;
    font-size: 1.8rem;
    border-radius: 5px;
  }
  
  #cash-heading {
    font-size: 2rem;
    margin-bottom: 4px;
    font-weight: 600;
    text-align: center;
  }
  
  #cash-given {
    padding: 2px 4px;
    margin-bottom: 2rem;
    height: 6rem;
    width: 50%;
    font-size: 1.8rem;
    border-radius: 5px;
  }
  
  .next-btn {
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 1.8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #164e63;
  }
  
  .check-btn {
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 1.8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #164e63;
  }
  
  .return-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  table {
    font-size: 1.5rem;
  }
  
  .message {
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 4rem;
  }
  

  th {
    border: 1px solid;
    padding: 3px 8px;
    background-color: #22d3ee;
    color: black;
  }
  td {
    border: 1px solid;
    padding: 3px 8px;
    background-color: white;
    color: black;
  }
  
  .bill-error-msg {
    font-size: 2rem;
    font-weight: 600;
  }